.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  @include desktop {
    flex-wrap: nowrap;
  }
}
.clients__item {
  height: 90px;
  @media screen and (max-width: 767px) {
    width: calc((100% - 2 * 30px) / 2);
  }
  @include tablet {
    width: calc((100% - 3 * 30px) / 3);
  }
  @include desktop {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
  color: var(--main-icon-color);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}
.clients__icon {
  fill: currentColor;
}
