.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--team-background-color);
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-background-color);
  @media screen and (max-width: 479px) {
    width: 270px;
  }
  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}
.worker-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-icon-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
  }
}
.team-list__worker {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-list__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__icon {
  fill: currentColor;
}
.team-list__workers {
  padding: 30px 0;
}
