.logo {
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  align-items: center;
  text-align: center;
}
.navigation__logo {
  @include mobile {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include tablet {
    padding-top: 26px;
    padding-bottom: 16px;
    margin-right: 87px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo__part--black {
  color: var(--black-logo-color);
}
.logo__part--white {
  color: var(--white-text-color);
}
