.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  overflow-y: scroll;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal {
  width: 320px;
  min-height: 581px;
  background-color: var(--white-background-color);
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 300ms linear;
  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 4px;
  top: 4px;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  &:hover {
    fill: var(--accent-color);
  }
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
}
.main-form {
  display: block;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline-color: var(--accent-color);
    cursor: pointer;
  }
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  .form-input:focus + & {
    fill: var(--accent-color);
  }
}
.form-input:hover,
.comment-text:hover {
  cursor: pointer;
}
.form-lable {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.comment-text {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline-color: var(--accent-color);
  }
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-input-policy {
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-left: 14px;
  }
}
.policy-text-main {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 1.14;
  color: var(--secondary-text-color);

  @media screen and (max-width: 479px) {
    font-size: 10px;
    line-height: 1.11;
  }

  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}
.policy-text-main span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  .policy-input:checked + & {
    background-color: var(--accent-color);
    border-color: transparent;
    fill: var(--white-background-color);
  }
}
.policy-link {
  margin-left: 3px;
  text-decoration: underline;
  color: var(--accent-color);
  @media screen and (max-width: 479px) {
    position: absolute;
    top: 18px;
    left: 21px;
  }
}
.modal-button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  color: var(--white-background-color);
  background-color: var(--bg-active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
